.d0{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d1{
    width: 300px;
    background: linear-gradient(hsl(252, 100%, 65%), hsl(241, 79%, 50%));
    display: block;
    align-items: center;
    justify-content: center;
    height: 400px;
    border-radius: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.d2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.d3{
    background: linear-gradient(hsl(241, 56%, 50%), hsl(252, 90%, 55%) );
    border-radius: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 140px;
    width: 140px;
    margin-left: 80px;
    margin-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}

.wrapper{
    display: flex;
    width: 600px;
    height: 400px;
    border: 1px solid rgb(235, 231, 231);
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.d1-info{
    margin-left: 50px;
}

button{
    color: rgb(209, 204, 204);
    background-color: black;
    border-radius: 20px;
    padding: 10px 80px ;
}

button:hover{
    background: linear-gradient(hsl(252, 88%, 57%), hsl(241, 94%, 48%));
    color: rgb(254, 254, 255);
    cursor: pointer;
    
}

#p1{
    color: rgb(251, 5, 54);
    background-color: rgb(249, 238, 241);
}
#p2{
    color: gold;
    background-color: rgb(253, 251, 242);
    
}
#p3{
    color: lightseagreen;
    background-color: rgb(240, 251, 251);
}
#p4{
    color: rgb(50, 16, 245);
    background-color: rgb(239, 239, 251);
}

h1, h2, h4{
    color: white;
}
h2{
    align-items: center;
    justify-content: center;
    display: flex;
}

pre{
    color: rgb(209, 204, 204);
}
.d4{
    color: rgb(209, 204, 204);
    
}


#p1, #p2, #p3, #p4{
    border-radius: 5px;
    padding: 8px;
}

.span{
    color: black;
    padding-left: 60px;
}

.span2{
    padding-left: 73px;
    color: black;
}


.navibar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(hsl(252, 88%, 57%), hsl(241, 94%, 48%));
    color: white;
    border: 8px ridge black;
    
  }

li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    margin-right: 12px;
    
  }

  li a, a{
    text-decoration: none;
    color: white;
  }
.logo{
    margin-left: 10px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

#img{
    margin-right: 10px;
    
}

.images{
    padding-top: 10px;
}


#results{
    color: black;
}
#summary{
    font-size: x-large;
    font-weight: bolder;
}

.form1{
    padding: 50px 30px 90px;
}

legend{
    font-size: x-large;
    font-weight: bolder;
    padding: 30px 30px;
    text-decoration: underline;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body1{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: url(https://i.pinimg.com/originals/d4/81/f3/d481f3c72e283309071f79e01b05c06d.gif) no-repeat;
   background-size: cover;
   background-position: center;
}

.wrapper1 img{
    width: 100%;
    height: 100%;
    display: flex;
}

.wrapper1{
    width: 420px;
    background: transparent;
    color: white;
    padding: 30px 40px;
    border: 2px solid blue;
    border-radius: 35px;
    backdrop-filter: blur(20px);
}

.wrapper1 h1{
    text-align: center;
}

.wrapper1 .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid blue;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    color: white;
    
}

.input-box input::placeholder{
    color: white;
}

.wrapper1 .remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a{
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper1 .btn{
    width: 100%;
    height: 30px;
    border: 2px solid blue;
    outline: none;
    border-radius: 40px;
    box-shadow: gray;
    font-weight: 600;
    cursor: pointer;
}

.wrapper1 .register-link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: rgb(238, 10, 10);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.register-link p a:hover{
    text-decoration: underline;
}
